<h2>Result</h2>

{% for category, item in nodes %}
    {{ category }}
    <hr />
    {% for key, value in item %}
        {{ value.title }} - ${{ value.price }}
        <br />
    {% endfor %}
    <br />
{% endfor %}